#menu-anchor {
    position: absolute;
    top: 20px;
    text-align: center;
    display: contents;
}

body, html {
    background-color: black;
    text-align: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -32;
}

.menu_bars {
    border-radius: 1px;
    position: absolute;
    height: 4.75px;
    width: 27.25px;
    display: inline;
    transition: transform 0.35s ease-out 0.15s;
    z-index: 2;
}

#lower_bar {
    background-color: rgb(253, 253, 253);
    margin: 22.75px 0 0 0;
}

#toggle-menu {
    position: absolute;
    color: rgb(253, 253, 253);
    opacity: 1;
    transition: opacity 0.15s ease-in 0.15s;
    z-index: -2;
}

#upper_bar {
    background-color: rgb(253, 253, 253);
    margin: 4px 0 0px 0;
}