a.menu-icon {
    position: absolute;
    top: 20px;
    text-align: center;
}

body, html {
    background-color: black;
    text-align: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -32;
}

.x_bar {
    border-radius: 3px;
    position: absolute;
    height: 11px;
    width: 69px;
    display: inline;
    transition: transform 0.25s ease-in 0.25s;
    z-index: 2;
}

#lower_bar {
    background-color: rgb(119, 119, 119);
    margin: 58px 0 0 0;
}

#toggle-menu {
    position: absolute;
    color: aliceblue;
    opacity: 0.9;
    transition: opacity 0.15s ease-in 0.15s;
    z-index: -2;
}

#upper_bar {
    background-color: rgb(119, 119, 119);
    margin: 12px 0 0px 0;
}

.upper_bar_trans {
    transform: matrix(0.7, 0.8, -0.6, 0.6, 0, 20);
}

.lower_bar_trans {
    transform: matrix(0.7, -0.8, 0.6, 0.6, 0, -25);
}